.product-card {
  padding: 0;

  .ant-card-body {
    padding: 5px;
    .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        color: $primary;
      }
    }

    .product-image-wrapper {
      text-align: center;
    }
    .stock {
      color: $primary;
      font-weight: 600;
    }

    .footer {
      font-size: 16px;
      color: $primary;
      button {
        color: $primary;
        svg {
          font-size: 22px;
        }
      }
    }
  }
}
